.form{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.form form{
    max-width: 80%;
    background-color: #F7F7F7;
    box-shadow: 7px 7px 15px 0px #00000014;
    border-radius: 20px;
    padding: 8px 100px;


}